/* src/app/donation-create/donation-create.component.css */
.register-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.back-button {
  text-align: right;
}

.back-button a {
  color: #007bff;
  text-decoration: none;
}

.back-button a:hover {
  text-decoration: underline;
}

#map { 
  height: 180px;
}

/* src/app/donation-create/donation-create.component.css */
.register-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.back-button {
  text-align: right;
}

.back-button a {
  color: #007bff;
  text-decoration: none;
}

.back-button a:hover {
  text-decoration: underline;
}

#map { 
  height: 180px;
}
