<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create New Entity Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<div class="register-container">
    <h2>Criar Entidade</h2>
    <form action="/entities/create" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Nome" required>
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" name="description" id="description" placeholder="uma breve descrição" required>
        </div>
        <div class="form-group">
            <label for="countryCode">Código do País</label>
            <input type="text" name="address[countryCode]" id="countryCode" placeholder="Código do País" required>
        </div>
        <div class="form-group">
            <label for="postalCode">Código Postal</label>
            <input type="text" name="address[postalCode]" id="postalCode" placeholder="Código Postal" required>
        </div>
        <div class="form-group">
            <label for="addressLocality">Localidade</label>
            <input type="text" name="address[addressLocality]" id="addressLocality" placeholder="Localidade" required>
        </div>
        <div class="form-group">
            <label for="streetAddress">Endereço</label>
            <input type="text" name="address[streetAddress]" id="streetAddress" placeholder="Endereço" required>
        </div>
        <button type="submit">Criar</button>
    </form>
</div>
</body>
</html>
