<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure Points</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="configure-points-container">
        <h2>Configuração de Pontos</h2>
        <form action="/points/configure" method="post">
            <div class="form-group">
                <label for="typeOfDonation">Tipo de Doação:</label>
                <select name="typeOfDonation" id="typeOfDonation" required>
                    <option value="">Selecione o tipo de doação</option>
                    <option value="Doação Têxtil">Doação Têxtil</option>
                    <option value="Dinheiro">Dinheiro</option>
                </select>
            </div>
            <div class="form-group">
                <label for="state">Estado:</label>
                <select name="state" id="state" required>
                    <option value="">Selecione o estado</option>
                    <option value="Novo com etiquetas">Novo com etiquetas</option>
                    <option value="Novo sem etiquetas">Novo sem etiquetas</option>
                    <option value="Muito bom">Muito bom</option>
                    <option value="Bom">Bom</option>
                    <option value="Satisfatório">Satisfatório</option>
                </select>
            </div>
            <div class="form-group">
                <label for="points">Pontos:</label>
                <input type="number" name="points" id="points" required>
            </div>
            <button type="submit" class="submit-btn">Configurar</button>
        </form>
        <script src="/javascripts/showBlockTypeOfDonation.js"></script>
        <script src="/javascripts/switchTypeOfDonation.js"></script>
        <div onclick="history.go(-1);" href="/donations" id="paypal-button-container" style="display:none"></div>
    </div>
    <div class="back-button" style="text-align: left;">
        <a href="/donations" onclick="history.go(-1);">Voltar</a>
    </div>
</body>

</html>