<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Donations</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Lista de Doações</h1>
    <ul>
        <% donations.forEach(function(donation) { %>
            <li><%= donation._id %> - <%= donation.donator %> - <%= donation.donationDate %> - <%= donation.typeOfDonation %></li>
        <% }); %>
    </ul>
</body>
</html>
