<mat-toolbar color="primary">
    <span>Recicla Têxtil</span>
    <span class="spacer-left"></span>
    
    <div fxLayout="row" fxLayoutAlign="center center">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/entity-list">Lista de Entidades</a>
      
      <!-- Dropdown Menu for Doações -->
      <button mat-button [matMenuTriggerFor]="doacoesMenu" *ngIf="isLoggedIn">Doações</button>
      <mat-menu #doacoesMenu="matMenu">
        <button mat-menu-item routerLink="/donation-add" *ngIf="isLoggedIn">Criar Doação</button>
      </mat-menu>

      <a mat-button routerLink="/profile" *ngIf="isLoggedIn">Conta</a>
    </div>
    
    <span class="spacer-right"></span>
    <ng-container *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
    </ng-container>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </mat-toolbar>
  