<mat-card class="login-card">
    <h1 class="text-center">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email é obrigatório
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Email inválido
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Senha é obrigatória
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          A senha deve ter pelo menos 6 caracteres
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="login-button" type="submit">Login</button>
      <button mat-raised-button color="accent" class="login-button" type="button" (click)="register()">Register</button>
    </form>
  </mat-card>
  