.entity-list-container {
  margin: 20px 0; /* Removendo a margem automática e adicionando uma margem superior e inferior de 20px */
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.loading-container, .error-message, .no-entities-message {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  flex: 1;
  overflow: auto;
  margin-top: 20px;
  min-height: 300px; /* Defina uma altura mínima adequada */
}

.mat-elevation-z8 {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.mat-header-cell {
  background-color: #f5f5f5;
}

.mat-row:nth-child(even) {
  background-color: #f0f0f0;
}

.mat-row:hover {
  background-color: #e0e0e0;
}

mat-paginator {
  margin-top: 20px;
}

.address-list {
  list-style-type: none;
  padding: 0;
}

.address-list li {
  margin-bottom: 5px;
}

.address-list li strong {
  font-weight: bold;
  margin-right: 5px;
}
